<!DOCTYPE html>
<html>
<head>
<style>
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        function displayPopup() {
            alert("Bonus Points!");
        }

        $(document).ready(function () {
            displayPopup();
        });
    </script>
</head>
<body>

<div class="center">
  <h1>Hello World</h1>
</div>

</body>
</html>